/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  text-align: center;
}
body .background {
  background-image: url("pictures/Layer 15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  height: 900px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  body .background {
    width: 100vw;
  }
}
body .background .content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
}
body .background .content-container .header-container {
  clear: both;
  display: block;
  color: black;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 0;
}
body .background .content-container .header-container .logo {
  margin-left: 20px;
  display: inline-block;
  margin-top: 28px;
  color: white;
  font-weight: bold;
  font-size: 1.9rem;
  font-family: "Montserrat", sans-serif;
  width: 100px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  body .background .content-container .header-container .logo {
    font-size: 1.3rem;
  }
}
body .background .content-container .header-container nav {
  margin-top: 40px;
  display: inline-block;
  margin-left: 40px;
  width: calc(100% - 160px);
  text-align: right;
}
@media screen and (max-width: 800px) {
  body .background .content-container .header-container nav {
    margin-top: 20px;
    display: block;
    margin-left: 0px;
    width: 100%;
  }
}
body .background .content-container .header-container nav .navigation-break {
  display: none;
}
@media screen and (max-width: 800px) {
  body .background .content-container .header-container nav {
    margin-top: 20px;
    display: block;
    margin-left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body .background .content-container .header-container nav {
    text-align: center;
  }
  body .background .content-container .header-container nav .navigation-break {
    display: block;
  }
}
body .background .content-container .header-container nav a {
  font-size: 15px;
  margin: 20px;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}
@media screen and (max-width: 600px) {
  body .background .content-container .header-container nav .media-blog {
    margin-left: 20px;
  }
  body .background .content-container .header-container nav .media-contact {
    margin-left: 30px;
  }
  body .background .content-container .header-container nav .media-chart {
    margin-left: 13px;
  }
  body .background .content-container .header-container nav .media-search {
    margin-left: -10px;
  }
}
body .background .content-container .header-container nav a:hover {
  color: rgb(252, 227, 138);
  border-bottom: 3px solid rgb(252, 227, 138);
  padding-bottom: 10px;
}
body .background .content-container .center-content {
  width: 100%;
  text-align: center;
}
body .background .content-container .center-content .header-heading-main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 180px;
  font-family: "Kaushan Script", cursive;
  font-size: 4.7rem;
  display: inline-block;
}
@media screen and (max-width: 720px) {
  body .background .content-container .center-content .header-heading-main {
    font-size: 3rem;
    margin-top: 130px;
  }
}
@media screen and (max-width: 600px) {
  body .background .content-container .center-content .header-heading-main {
    margin-top: 80px;
  }
}
@media screen and (max-width: 480px) {
  body .background .content-container .center-content .header-heading-main {
    font-size: 2rem;
  }
}
@media screen and (max-width: 360px) {
  body .background .content-container .center-content .header-heading-main {
    font-size: 1.5rem;
  }
}
body .background .content-container .center-content .header-heading-subheading {
  width: 70%;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 9.4rem;
  color: white;
  line-height: 85%;
}
@media screen and (max-width: 1200px) {
  body .background .content-container .center-content .header-heading-subheading {
    font-size: 6rem;
  }
}
@media screen and (max-width: 720px) {
  body .background .content-container .center-content .header-heading-subheading {
    font-size: 4rem;
  }
}
@media screen and (max-width: 480px) {
  body .background .content-container .center-content .header-heading-subheading {
    font-size: 3rem;
  }
}
@media screen and (max-width: 360px) {
  body .background .content-container .center-content .header-heading-subheading {
    font-size: 2rem;
  }
}
body .background .content-container .center-content hr {
  margin-top: 40px;
  height: 4px;
  width: 70px;
  color: white;
  background-color: white;
  border: none;
}
@media screen and (max-width: 480px) {
  body .background .content-container .center-content hr {
    margin-top: 30px;
  }
}
body .background .content-container .center-content button {
  margin-top: 40px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 4px solid white;
  box-shadow: none;
}
@media screen and (max-width: 610px) {
  body .background .content-container .center-content button {
    margin-bottom: 30px;
  }
}
body .background .content-container .below-content {
  font-size: 0;
  margin-left: 20px;
}
@media screen and (max-width: 720px) {
  body .background .content-container .below-content {
    margin-top: 100px;
    text-align: center;
  }
}
body .background .content-container .below-content .animation-content {
  margin-top: 60px;
  display: inline-block;
  width: 25%;
  text-align: left;
}
@media screen and (max-width: 610px) {
  body .background .content-container .below-content .animation-content {
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
}
body .background .content-container .below-content .animation-content .progress {
  position: relative;
  height: 4px;
  width: calc(100% - 20px);
  border: none;
  background-color: white;
}
@-webkit-keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
body .background .content-container .below-content .animation-content .animation-text {
  margin-top: 25px;
  text-align: left;
  display: inline-block;
}
body .background .content-container .below-content .animation-content .animation-text h3 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-right: 5px;
}
body .background .content-container .below-content .animation-content .animation-text p {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: white;
  font-weight: 100;
}
body .background .content-container .below-content .animation-content:hover .color {
  position: absolute;
  background-color: red;
  width: 3px;
  height: 2px;
  -webkit-animation: progres 4s infinite linear;
          animation: progres 4s infinite linear;
}
body .white-background .content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body .white-background .content-container .intro-h1 {
  margin-top: 70px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: rgb(51, 51, 51);
}
body .white-background .content-container .intro-h2 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
body .white-background .content-container hr {
  margin-top: 40px;
  height: 3px;
  width: 70px;
  color: red;
  background-color: red;
  border: none;
}
body .white-background .content-container p {
  display: inline-block;
  width: 70%;
  margin-top: 40px;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  color: rgb(153, 153, 153);
  line-height: 1.5;
}
body .white-background .content-container .intro-pictures {
  position: relative;
  margin-top: 90px;
  text-align: center;
  font-size: 0;
}
@media screen and (max-width: 620px) {
  body .white-background .content-container .intro-pictures {
    margin-top: 50px;
  }
}
body .white-background .content-container .intro-pictures .img-first-layer {
  display: inline-block;
  width: 33.33%;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 650px) {
  body .white-background .content-container .intro-pictures .img-first-layer {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
}
body .white-background .content-container .intro-pictures .img-below-background-color {
  background-color: rgb(149, 225, 211);
  display: inline-block;
  text-align: center;
  width: 380px;
  height: 260px;
}
@media screen and (max-width: 1200px) {
  body .white-background .content-container .intro-pictures .img-below-background-color {
    width: 300px;
  }
}
@media screen and (max-width: 920px) {
  body .white-background .content-container .intro-pictures .img-below-background-color {
    width: 250px;
    height: 170px;
  }
}
@media screen and (max-width: 790px) {
  body .white-background .content-container .intro-pictures .img-below-background-color {
    width: 200px;
    height: 150px;
  }
}
body .white-background .content-container .intro-pictures .img-background-image-left {
  background-image: url("Pictures/Layer 44.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
body .white-background .content-container .intro-pictures .img-background-image-midle {
  background-image: url("Pictures/Layer 39.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
body .white-background .content-container .intro-pictures .img-background-image-right {
  background-image: url("Pictures/Layer 41.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
body .white-background .content-container .intro-pictures .img-background-image-white-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
body .white-background .content-container .intro-pictures .img-owerlay {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(rgba(255, 0, 0, 0.8), rgba(255, 179, 0, 0.8));
}
body .white-background .content-container .intro-pictures .img-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("Pictures/USERS.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 500px) {
  body .white-background .content-container .intro-pictures .img-icon {
    background-image: none;
  }
}
body .white-background .content-container .intro-pictures .img-background-image-left:hover {
  transform: translate(-10px, -10px);
}
body .white-background .content-container .intro-pictures .img-background-image-left:hover .img-background-image-white-effect {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-left:hover .img-owerlay {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-left:hover .img-icon {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-midle:hover {
  transform: translate(-10px, -10px);
}
body .white-background .content-container .intro-pictures .img-background-image-midle:hover .img-background-image-white-effect {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-midle:hover .img-owerlay {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-midle:hover .img-icon {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-right:hover {
  transform: translate(-10px, -10px);
}
body .white-background .content-container .intro-pictures .img-background-image-right:hover .img-background-image-white-effect {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-right:hover .img-owerlay {
  opacity: 1;
}
body .white-background .content-container .intro-pictures .img-background-image-right:hover .img-icon {
  opacity: 1;
}
body .blue-background {
  margin-top: 110px;
  background-color: rgb(149, 225, 211);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
body .blue-background .content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 270px;
  font-size: 0;
}
@media screen and (max-width: 900px) {
  body .blue-background .content-container {
    height: 200px;
  }
}
body .blue-background .content-container .content-box {
  position: relative;
  display: inline-block;
  width: calc(20% - 1px);
  height: 100%;
  border-right: solid 1px white;
}
body .blue-background .content-container .content-box div {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
body .blue-background .content-container .content-box div h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  color: white;
}
@media screen and (max-width: 1000px) {
  body .blue-background .content-container .content-box div h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  body .blue-background .content-container .content-box div h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 696px) {
  body .blue-background .content-container .content-box div .blue-background-h1-1 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 492px) {
  body .blue-background .content-container .content-box div .blue-background-h1-3 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 469px) {
  body .blue-background .content-container .content-box div .blue-background-h1-4 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 425px) {
  body .blue-background .content-container .content-box div .blue-background-h1-2 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 384px) {
  body .blue-background .content-container .content-box div .blue-background-h1-1 {
    margin-top: 22px;
  }
}
body .blue-background .content-container .content-box div p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: white;
  width: 100%;
}
@media screen and (max-width: 900px) {
  body .blue-background .content-container .content-box div p {
    font-size: 0.7rem;
  }
}
body .blue-background .content-container .content-box:nth-child(5) {
  border-right: none;
}
body .white-background2 .content-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
}
body .white-background2 .content-container .intro-h1 {
  margin-top: 100px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: rgb(51, 51, 51);
}
body .white-background2 .content-container .intro-h2 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
body .white-background2 .content-container hr {
  margin-top: 40px;
  height: 3px;
  width: 70px;
  color: red;
  background-color: red;
  border: none;
}
body .white-background2 .content-container .sevices {
  margin-top: 40px;
  font-size: 0;
  width: 100%;
  display: block;
  margin-bottom: 100px;
}
body .white-background2 .content-container .sevices .service {
  display: inline-block;
  width: 33.3%;
  height: 120px;
}
@media screen and (max-width: 500px) {
  body .white-background2 .content-container .sevices .service {
    width: 50%;
  }
}
body .white-background2 .content-container .sevices .service .icon {
  margin-top: 20px;
  vertical-align: top;
  display: inline-block;
  width: 10%;
}
body .white-background2 .content-container .sevices .service .icon .icon-img {
  background-repeat: no-repeat;
  background-size: center;
  width: 40px;
  height: 40px;
}
body .white-background2 .content-container .sevices .service .icon .alarm {
  background-image: url("Pictures/services/alarm.png");
}
body .white-background2 .content-container .sevices .service .icon .line-graph {
  background-image: url("Pictures/services/line graph.png");
}
body .white-background2 .content-container .sevices .service .icon .computer-ok {
  background-image: url("Pictures/services/computer ok.png");
}
body .white-background2 .content-container .sevices .service .icon .book {
  background-image: url("Pictures/services/book 2.png");
}
body .white-background2 .content-container .sevices .service .icon .home {
  background-image: url("Pictures/services/home.png");
}
body .white-background2 .content-container .sevices .service .icon .imagea {
  background-image: url("Pictures/services/imagea.png");
}
body .white-background2 .content-container .sevices .service .text {
  display: inline-block;
  width: 80%;
  color: black;
  text-align: left;
}
body .white-background2 .content-container .sevices .service .text h3 {
  margin-top: 23px;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
body .white-background2 .content-container .sevices .service .text p {
  color: rgb(153, 153, 153);
  margin-top: 20px;
  margin-left: 20px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 650px) {
  body .white-background2 .content-container .sevices .service:nth-child(1) {
    border-bottom: solid 1px rgb(153, 153, 153);
  }
  body .white-background2 .content-container .sevices .service:nth-child(2) {
    border-bottom: solid 1px rgb(153, 153, 153);
  }
  body .white-background2 .content-container .sevices .service:nth-child(3) {
    border-bottom: solid 1px rgb(153, 153, 153);
  }
}
body .mauntain-background {
  background-image: url("Pictures/uniqe/Layer 45.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1920px;
  height: 850px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 650px) {
  body .mauntain-background {
    height: 670px;
  }
}
@media screen and (max-width: 420px) {
  body .mauntain-background {
    height: 492px;
  }
}
body .mauntain-background .content-container3 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  position: relative;
}
body .mauntain-background .content-container3 .intro-h1 {
  display: inline-block;
  margin-top: 100px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: rgb(51, 51, 51);
}
body .mauntain-background .content-container3 .intro-h2 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
body .mauntain-background .content-container3 hr {
  margin-top: 40px;
  height: 3px;
  width: 70px;
  color: red;
  background-color: red;
  border: none;
}
body .mauntain-background .content-container3 .phone-img {
  display: inline-block;
  background-image: url("Pictures/uniqe/White.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width: 650px) {
  body .mauntain-background .content-container3 .phone-img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 420px) {
  body .mauntain-background .content-container3 .phone-img {
    width: 200px;
    height: 200px;
  }
}
body .white-background3 .content-container4 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
}
body .white-background3 .content-container4 .intro-h1 {
  display: inline-block;
  margin-top: 100px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: rgb(51, 51, 51);
}
body .white-background3 .content-container4 .intro-h2 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
body .white-background3 .content-container4 hr {
  margin-top: 40px;
  height: 3px;
  width: 70px;
  color: red;
  background-color: red;
  border: none;
}
body .white-background3 .content-container4 p {
  display: inline-block;
  width: 70%;
  margin-top: 40px;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  color: rgb(153, 153, 153);
  line-height: 1.5;
}
body .white-background3 .content-container4 .content-container-midle {
  margin-top: 50px;
  font-size: 0;
}
body .white-background3 .content-container4 .content-container-midle .img-container {
  margin-top: 10px;
  display: inline-block;
  width: 50%;
  text-align: left;
}
@media screen and (max-width: 690px) {
  body .white-background3 .content-container4 .content-container-midle .img-container {
    width: 100%;
    text-align: center;
  }
}
body .white-background3 .content-container4 .content-container-midle .img-container .img-wall {
  display: inline-block;
  background-image: url("Pictures/whatwedo/Layer 43.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 95%;
  height: 385px;
}
@media screen and (max-width: 690px) {
  body .white-background3 .content-container4 .content-container-midle .img-container .img-wall {
    background-position: -80px 0px;
    background-position: center;
  }
}
@media screen and (max-width: 380px) {
  body .white-background3 .content-container4 .content-container-midle .img-container .img-wall {
    background-position: -100px 0px;
  }
}
body .white-background3 .content-container4 .content-container-midle .accordion-container {
  position: relative;
  width: 50%;
  display: inline-block;
  height: 380px;
  vertical-align: top;
  margin-bottom: 100px;
}
@media screen and (max-width: 690px) {
  body .white-background3 .content-container4 .content-container-midle .accordion-container {
    width: 95%;
    text-align: center;
  }
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion {
  display: inline-block;
  width: 100%;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button {
  background-color: white;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border: 1px solid rgb(210, 210, 210);
  outline: none;
  font-size: 0;
  margin-top: 10px;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container2 {
  display: inline-block;
  width: 10%;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container2 .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container2 .picture {
  background-image: url("Pictures/whatwedo/PICTURE.png");
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container2 .equalizer {
  background-image: url("Pictures/whatwedo/equalizer.png");
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container2 .bullseye {
  background-image: url("Pictures/whatwedo/bullseye.png");
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button h3 {
  margin-top: 5px;
  display: inline-block;
  width: 70%;
  font-size: 20px;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
@media screen and (max-width: 380px) {
  body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button h3 {
    margin-left: 10px;
  }
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container3 {
  display: inline-block;
  width: 10%;
  text-align: end;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container3 .imgup {
  background-image: url("Pictures/whatwedo/ARROW up.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 12px;
  display: inline-block;
  margin-bottom: 10px;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .accordion-button .img-container3 .imgdown {
  background-image: url("Pictures/whatwedo/ARROW down.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 12px;
  display: inline-block;
  margin-bottom: 10px;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .second {
  border-top: 1px solid rgb(210, 210, 210);
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .third {
  border-bottom: none;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .panel {
  background-color: white;
  display: none;
  overflow: hidden;
  text-align: left;
  width: calc(100% - 2px);
  margin: none;
  padding-top: 10px;
  border: 1px solid rgb(210, 210, 210);
  border-top: none;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .panel p {
  width: 90%;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  height: 130px;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-right: 17px;
  font-style: italic;
  font-weight: light;
}
@media screen and (max-width: 420px) {
  body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .panel p {
    padding-right: 5px;
  }
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .panel .scroller::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .panel .scroller::-webkit-scrollbar-track {
  background: rgb(245, 245, 245);
  border-radius: 10px;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .panel .scroller::-webkit-scrollbar-thumb {
  background: rgb(149, 225, 211);
  border-radius: 10px;
}
body .white-background3 .content-container4 .content-container-midle .accordion-container .accordion .active {
  display: block;
  vertical-align: top;
  height: 132;
}
body .grey-background {
  background-color: rgb(248, 248, 248);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
body .grey-background .content-container5 {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 300px;
  font-size: 0;
}
body .grey-background .content-container5 .content-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 150px;
}
body .grey-background .content-container5 .content-vertical .img-container {
  width: 15%;
  display: inline-block;
  height: 150px;
}
body .grey-background .content-container5 .content-vertical .img-container .img {
  background-image: url("Pictures/whatwedo/speech 4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
}
body .grey-background .content-container5 .content-vertical .quote-container {
  width: 85%;
  display: inline-block;
  height: 100%;
  font-size: 20px;
  text-align: left;
}
body .grey-background .content-container5 .content-vertical .quote-container p {
  margin-left: 10px;
  font-family: "roboto", sans-serif;
  font-size: 24px;
  color: rgb(153, 153, 153);
}
body .grey-background .content-container5 .content-vertical .quote-container hr {
  margin-left: 10px;
  height: 3px;
  width: 70px;
  color: red;
  background-color: red;
  border: none;
  display: inline-block;
}
body .grey-background .content-container5 .content-vertical .quote-container h1 {
  margin-top: 40px;
  display: inline-block;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: rgb(51, 51, 51);
}/*# sourceMappingURL=main.css.map */