/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* mano kodas */

body {
  background-color: whitesmoke;
}
h1 {
  margin: 15px 0 20px 10px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
p {
  margin: 15px 0 20px 10px;
}
ul {
  list-style-type: none;
  margin: 0px 0 20px 10px;
}
ul img {
  max-width: 13px;
  max-width: 13px;
  margin-right: 15px;
}
table,
tr,
th,
td {
  border: 1px solid black;
}
table {
  margin: 0px 0 20px 10px;
  /* background-color: blue; */
}
td,
th {
  padding: 10px;
}
tr:first-child {
  color: white;
  background-color: green;
  border-bottom: 3px solid violet;
}
tr:first-child th:first-child {
  border-radius: 15px;
}
tr:last-child th:first-child {
  border-radius: 15px;
}
tr:nth-child(even) {
  background-color: white;
}
fieldset {
  border: 1px solid black;
  margin: 0px 0px 20px 10px;
  width: 50%;
}
legend {
  margin-left: 20px;
  margin-bottom: 20px;
}
fieldset > div {
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}
fieldset > div input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50%;
}

fieldset > div select {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50%;
}

.tarkim > div {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50%;
}

fieldset > div input [type="radio"] {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50%;
}
.tarkim > div span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
}

.tarkim > div:last-child {
  margin-left: 70%;
}

.tarkim > div:last-child span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
}
button[type="register"] {
  background-color: green;
  border-radius: 10px;
  color: white;
  margin-left: 500px;
}
/* mano */
/* ul {
  list-style-type: square;
}
th {
  background-color: rgb(64, 64, 227);
  color: white;
}
td {
  background-color: rgb(108, 182, 223);
  color: black;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th:first-child,
th:last-child {
  border-radius: 10px;
}

form {
  width: 20%;
}

button {
  border-radius: 10px;
  color: white;
  background-color: green;
  border-color: grey;
  float: right;
} */
